altgraph==0.17.3
asgiref==3.5.2
blinker==1.9.0
certifi==2022.6.15
click==8.3.0
colorama==0.4.6
distlib==0.3.4
Django==4.0.6
docx2txt==0.8
filelock==3.7.1
Flask==3.1.2
future==0.18.2
gunicorn==23.0.0
itsdangerous==2.2.0
Jinja2==3.1.6
lxml==4.9.1
MarkupSafe==3.0.3
packaging==24.2
pefile==2022.5.30
pipenv==2022.7.4
platformdirs==2.5.2
pyinstaller==5.6.2
pyinstaller-hooks-contrib==2022.12
python-docx==0.8.11
pywin32-ctypes==0.2.0
six==1.16.0
sqlparse==0.4.2
tzdata==2022.1
virtualenv==20.15.1
virtualenv-clone==0.5.7
Werkzeug==3.1.3

